# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
import csv
vacay_df = pd.read_csv('weather.csv')
vacay_df.head()

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Mataura,NZ,99,81,-46.19,168.86,291.48,3.58
1,1,Saldanha,ZA,0,77,-33.01,17.94,289.15,3.10
2,2,Busselton,AU,100,21,-33.65,115.33,300.93,5.04
3,3,Cidreira,BR,77,89,-30.18,-50.21,298.26,8.93
4,4,Grindavik,IS,75,74,63.84,-22.43,274.15,6.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure
gmaps.configure(api_key = g_key)


# Build lists -- thanks again to StackOverflow for the .tolist() function
lats = vacay_df['Lat'].tolist()
lngs = vacay_df['Lng'].tolist()
humid_ = vacay_df['Humidity'].tolist()

# Zip lats and longs
lat_lngs = list(zip(lats, lngs))
data = list(zip(lats, lngs, humid_))
data

[(-46.19, 168.86, 81),
 (-33.01, 17.94, 77),
 (-33.65, 115.33, 21),
 (-30.18, -50.21, 89),
 (63.84, -22.43, 74),
 (-54.8, -68.3, 53),
 (-21.21, -159.78, 83),
 (-16.7, -151.02, 74),
 (-21.36, 55.77, 83),
 (60.14, 32.57, 85),
 (-31.41, -64.18, 93),
 (-33.93, 18.42, 77),
 (-3.77, -49.67, 93),
 (-0.74, -90.35, 82),
 (5.41, 100.34, 66),
 (54.43, 31.9, 93),
 (55.74, -97.86, 69),
 (-42.88, 147.33, 42),
 (-9.44, 147.18, 63),
 (-22.67, 167.48, 80),
 (9.92, 125.67, 71),
 (71.92, 114.08, 92),
 (-20.73, 139.5, 17),
 (8.2, -59.78, 98),
 (18.3, 83.9, 65),
 (42.78, -9.06, 100),
 (19.43, -99.1, 25),
 (-42.78, 147.06, 42),
 (14.9, -24.5, 62),
 (72.79, -56.15, 90),
 (5.14, -5.02, 85),
 (-11.21, 13.84, 84),
 (-20.41, 57.7, 83),
 (41.06, 17.09, 93),
 (42.1, -79.24, 51),
 (-26.65, 15.16, 82),
 (10.09, -67.78, 90),
 (-33.7, -53.46, 91),
 (-23.12, -134.97, 77),
 (70.63, 147.92, 97),
 (-38.0, -57.56, 94),
 (-41.15, -71.31, 82),
 (39.09, 17.12, 75),
 (20.93, -17.03, 49),
 (38.5, 48.67, 93),
 (-10.62, 150.67, 51),
 (21.35, -158.09, 83),
 (12.45, 125.29, 73),
 (-22.28, 166.46, 69),
 (52.37, -114.92, 96),
 (64.75, 177.48, 69),
 (0.54, 123.06, 53),
 (47.67, -52.73, 100),
 (65.28, -126.83, 67),
 (3.07, 172.79, 81),
 (40.28, 97.2, 29),
 (-53.15, -70.92, 61),
 (-34.0, 24.73, 94),
 (-0.95, 100.35, 85),
 (43.32, 145.57, 92),
 (-34.42, 19.23, 89),
 (77.48, -69.36, 63),
 (32.67, -17.1, 77),
 (48.93, -125.55, 86),
 (-46.6, 168.33, 80),
 (22.08, -159.32, 61),
 (-9.8, -139.03, 74),
 (70.47, -68.59, 74),
 (-34.62, -68.33, 42),
 (-21.64, -41.05, 86),
 (62.67, 135.6, 93),
 (43.41, -124.22, 81),
 (-33.59, 26.89, 90),
 (42.6, -73.97, 58),
 (69.45, -133.04, 74),
 (19.73, -155.09, 61),
 (69.22, -51.1, 60),
 (0.8, 127.4, 63),
 (25.52, 90.22, 51),
 (69.1, 15.95, 74),
 (14.2, 24.67, 37),
 (4.75, -55.17, 87),
 (12.38, 17.06, 25),
 (-46.13, 167.68, 81),
 (-33.92, 25.57, 88),
 (-5.67, 132.75, 75),
 (-3.7, 128.18, 52),
 (-24.87, 113.63, 74),
 (62.46, -114.35, 67),
 (37.1, -113.58, 23),
 (31.35, 27.25, 81),
 (9.53, 31.66, 19),
 (-15.2, 12.15, 75),
 (38.52, -28.7, 73),
 (32.35, -85.2, 93),
 (13.98, 10.27, 26),
 (35.37, -120.85, 81),
 (4.42, -7.35, 93),
 (-19.55, 169.27, 66),
 (53.6, 91.39, 92),
 (71.69, 128.87, 89),
 (-6.09, -35.21, 83),
 (40.6, -124.16, 87),
 (-25.3, 152.85, 62),
 (-0.6, 73.08, 71),
 (29.45, 78.45, 66),
 (36.21, 57.68, 85),
 (62.23, -6.59, 80),
 (45.3, 130.28, 76),
 (69.41, 86.18, 92),
 (41.34, -6.71, 82),
 (39.56, 19.9, 93),
 (6.8, 81.48, 94),
 (41.8, -85.42, 98),
 (67.45, 153.68, 95),
 (31.61, 34.76, 87),
 (13.17, 44.58, 75),
 (50.05, -110.67, 71),
 (-33.02, 27.91, 83),
 (-25.24, 130.99, 20),
 (22.89, -109.91, 37),
 (41.37, -73.41, 80),
 (43.11, 128.92, 68),
 (68.75, 161.3, 94),
 (-41.41, 175.52, 88),
 (-43.3, -65.1, 66),
 (20.03, -96.63, 79),
 (33.74, -118.39, 100),
 (22.35, -103.22, 35),
 (-16.48, -151.75, 77),
 (-7.47, -34.81, 83),
 (17.88, -76.41, 74),
 (62.67, 131.17, 94),
 (-22.97, -42.03, 83),
 (-15.86, -38.88, 78),
 (-29.68, -53.81, 94),
 (1.33, 172.98, 74),
 (61.99, -49.67, 54),
 (37.4, 136.9, 75),
 (43.65, 111.98, 72),
 (59.7, 30.79, 75),
 (-10.71, 22.22, 99),
 (53.62, 109.62, 91),
 (-34.48, -54.33, 73),
 (-3.8, 102.27, 80),
 (50.68, 156.12, 74),
 (-37.62, -73.65, 77),
 (12.5, 102.5, 51),
 (49.25, -55.05, 79),
 (7.77, -72.22, 65),
 (4.82, -72.29, 42),
 (4.88, -1.76, 93),
 (60.4, -1.35, 75),
 (44.08, -80.2, 79),
 (27.73, -82.74, 88),
 (58.71, 13.82, 81),
 (71.97, 102.5, 87),
 (-21.2, -175.2, 65),
 (65.42, -52.9, 87),
 (20.15, 92.9, 63),
 (66.04, -17.34, 96),
 (-11.1, -77.61, 75),
 (63.75, -68.51, 66),
 (21.85, 111.97, 53),
 (-45.87, 170.5, 74),
 (24.09, 32.91, 63),
 (51.1, 66.32, 98),
 (62.11, 42.9, 94),
 (-21.55, 167.88, 75),
 (38.42, -121.42, 26),
 (43.65, 51.2, 86),
 (40.43, 71.72, 95),
 (-24.79, -50.01, 83),
 (-34.73, 135.87, 54),
 (-51.62, -69.22, 49),
 (40.43, -86.91, 93),
 (36.62, 101.77, 24),
 (-6.87, -78.15, 86),
 (31.81, 121.66, 38),
 (-2.53, 112.95, 59),
 (19.22, -104.7, 73),
 (-28.47, -65.79, 90),
 (17.49, 44.13, 31),
 (-9.91, -63.04, 96),
 (38.73, -27.07, 81),
 (41.81, 19.59, 93),
 (43.49, 2.37, 93),
 (59.02, 6.04, 81),
 (70.02, 135.6, 97),
 (17.02, 54.09, 72),
 (20.2, 1.01, 18),
 (71.29, -156.79, 73),
 (4.14, 96.13, 77),
 (64.86, -147.8, 77),
 (-41.87, -73.82, 87),
 (25.4, 88.52, 53),
 (60.73, 77.59, 85),
 (10.93, 108.1, 42),
 (-17.73, -149.15, 62),
 (60.14, -45.24, 68),
 (8.65, 16.85, 20),
 (13.22, -59.52, 78),
 (69.7, 170.31, 97),
 (70.37, 31.11, 78),
 (-5.18, -68.9, 95),
 (28.37, 129.48, 62),
 (60.75, -137.51, 95),
 (70.05, 24.97, 69),
 (52.8, 104.75, 84),
 (27.98, -114.06, 84),
 (16.45, -85.85, 78),
 (39.5, -89.77, 93),
 (56.31, -3.59, 86),
 (-43.53, 172.63, 60),
 (57.79, -152.41, 86),
 (-10.07, -78.15, 77),
 (48.04, 40.05, 100),
 (54.02, -124.02, 89),
 (65.61, -37.64, 68),
 (38.7, 16.13, 71),
 (-18.65, -173.98, 78),
 (30.57, 79.57, 15),
 (39.18, -84.53, 70),
 (10.57, 72.64, 78),
 (53.02, -112.84, 63),
 (48.85, 2.35, 86),
 (65.58, -171.0, 59),
 (62.58, 6.13, 86),
 (38.42, 77.24, 35),
 (-6.98, -34.83, 83),
 (26.19, -97.7, 88),
 (-18.06, 13.84, 51),
 (-23.7, 133.88, 14),
 (69.49, 88.4, 92),
 (-2.87, -67.8, 94),
 (50.92, 15.23, 74),
 (42.25, -75.83, 68),
 (-23.35, 47.6, 94),
 (-5.12, 120.25, 71),
 (-24.51, -48.84, 96),
 (47.1, 6.83, 86),
 (-35.1, 173.78, 52),
 (16.98, 73.3, 34),
 (18.44, 1.41, 17),
 (25.02, 37.27, 56),
 (12.52, -70.03, 78),
 (49.59, 34.54, 88),
 (50.43, 21.28, 93),
 (1.61, 16.05, 89),
 (-19.06, -169.92, 88),
 (8.48, -13.23, 96),
 (73.51, 80.55, 87),
 (40.16, -8.33, 93),
 (14.31, 121.11, 55),
 (67.54, 133.38, 94),
 (-31.43, 152.92, 62),
 (55.1, -105.28, 57),
 (2.67, 72.89, 75),
 (51.58, 113.03, 52),
 (20.89, -156.47, 61),
 (-6.64, -51.99, 96),
 (52.11, -101.27, 92),
 (12.06, -61.75, 78),
 (42.74, -84.62, 92),
 (7.53, -12.51, 87),
 (-34.65, -59.43, 99),
 (57.79, 108.11, 90),
 (47.89, 134.95, 87),
 (-19.22, -44.94, 88),
 (16.86, -99.89, 83),
 (7.99, 117.06, 65),
 (-0.41, -65.02, 94),
 (42.33, 142.37, 86),
 (29.62, 51.65, 40),
 (2.04, 45.34, 80),
 (-33.46, -70.65, 43),
 (13.48, -16.68, 38),
 (-2.63, -56.74, 83),
 (28.42, 30.78, 89),
 (78.22, 15.64, 59),
 (-1.77, -55.87, 80),
 (49.5, -115.07, 42),
 (63.9, 122.76, 96),
 (36.62, -121.92, 71),
 (49.41, 38.15, 90),
 (54.58, 41.81, 95),
 (49.98, 92.07, 97),
 (46.95, 24.05, 92),
 (44.42, 133.48, 81),
 (49.25, 30.83, 89),
 (27.15, 57.08, 66),
 (11.0, 122.67, 67),
 (53.05, 158.65, 52),
 (32.65, 110.78, 29),
 (19.75, 10.25, 34),
 (-7.84, -79.15, 88),
 (13.32, 12.61, 31),
 (28.08, -82.57, 88),
 (66.27, 33.05, 89),
 (48.01, 91.64, 60),
 (56.17, 107.45, 91),
 (-15.72, 46.32, 94),
 (22.29, 114.16, 33),
 (-37.83, 147.62, 81),
 (-32.5, 137.77, 47),
 (51.16, 54.99, 84),
 (-20.01, 57.66, 83),
 (53.86, 120.88, 73),
 (-18.97, 32.67, 94),
 (18.43, -65.83, 88),
 (27.52, 88.53, 64),
 (61.25, 73.42, 85),
 (6.12, 81.12, 94),
 (-8.77, 160.7, 76),
 (39.05, -27.98, 61),
 (-9.88, -56.09, 89),
 (-29.78, -55.79, 88),
 (20.52, -13.05, 15),
 (18.39, 42.45, 51),
 (26.18, 127.76, 54),
 (41.2, 1.57, 66),
 (69.38, 178.42, 96),
 (13.17, 80.27, 78),
 (-17.07, 15.73, 61),
 (18.28, -70.33, 80),
 (23.7, 113.03, 24),
 (36.75, 3.04, 87),
 (-34.53, 20.04, 93),
 (53.48, 18.75, 80),
 (43.52, -8.15, 100),
 (27.91, -15.45, 72),
 (31.63, -8.01, 62),
 (54.73, 37.41, 99),
 (11.28, -15.83, 75),
 (66.32, -179.17, 95),
 (38.7, -93.23, 76),
 (37.72, -25.43, 66),
 (41.12, 80.26, 39),
 (49.49, 105.92, 91),
 (31.95, 12.03, 79),
 (41.25, 67.97, 92),
 (68.53, 146.42, 96),
 (45.76, 106.27, 83),
 (-46.28, 169.85, 91),
 (-28.78, 32.04, 80),
 (8.0, 124.29, 78),
 (-6.92, -76.33, 100),
 (19.21, -69.34, 97),
 (-20.34, 57.76, 83),
 (19.37, -81.42, 88),
 (52.47, 13.68, 81),
 (-17.88, 36.89, 93),
 (57.9, 53.72, 99),
 (-4.97, 23.45, 89),
 (46.32, -120.01, 69),
 (45.02, -93.22, 86),
 (24.8, 125.28, 54),
 (-8.01, -34.86, 70),
 (-33.87, 121.9, 37),
 (1.57, 9.61, 83),
 (21.5, -158.02, 83),
 (-8.26, -49.26, 83),
 (-3.33, 128.92, 65),
 (33.19, -82.53, 100),
 (41.76, 86.15, 93),
 (63.44, -20.27, 61),
 (37.27, -87.18, 62),
 (64.56, 39.83, 86),
 (5.66, -67.62, 72),
 (66.77, 123.37, 93),
 (-23.86, 35.38, 74),
 (-8.84, 13.23, 94),
 (24.14, 67.45, 21),
 (41.39, 2.16, 76),
 (-38.27, 141.97, 77),
 (64.38, -173.3, 78),
 (28.66, -17.92, 68),
 (66.94, -53.67, 83),
 (51.52, 32.22, 85),
 (22.68, -3.98, 16),
 (7.04, 134.26, 62),
 (42.8, 93.45, 38),
 (-14.9, 50.28, 83),
 (57.8, 158.67, 89),
 (50.72, 136.63, 72),
 (64.5, -165.41, 78),
 (-19.88, -43.67, 78),
 (48.68, 71.64, 100),
 (29.37, -94.97, 88),
 (33.07, -16.34, 82),
 (-19.65, 17.33, 88),
 (53.22, -114.99, 98),
 (56.2, 95.46, 95),
 (68.82, -51.19, 60),
 (57.05, -135.33, 86),
 (7.7, 28.0, 30),
 (8.96, 117.58, 73),
 (-13.2, 49.05, 92),
 (-28.55, 16.43, 91),
 (37.57, 126.98, 39),
 (4.57, 28.4, 58),
 (-11.67, -61.19, 95),
 (26.53, 86.75, 62),
 (-45.42, 167.72, 84),
 (8.57, 0.98, 58),
 (56.6, 84.89, 85),
 (-14.27, 50.17, 95),
 (44.06, -121.32, 54),
 (50.92, 13.37, 70),
 (-23.49, -58.8, 46),
 (-41.07, 145.92, 55),
 (1.74, 98.78, 59),
 (62.53, 155.8, 99),
 (44.82, 40.93, 80),
 (12.51, 39.52, 72),
 (56.95, 90.67, 94),
 (6.37, 126.17, 77),
 (22.93, 97.75, 33),
 (-30.74, 30.45, 65),
 (58.81, -122.7, 76),
 (-5.2, -35.46, 88),
 (-41.22, 174.92, 88),
 (57.45, 97.32, 91),
 (-2.08, 101.38, 96),
 (16.77, 77.13, 28),
 (17.15, 42.63, 78),
 (31.21, 16.59, 82),
 (49.87, 10.23, 87),
 (-21.04, -57.87, 59),
 (14.47, -60.87, 78),
 (-13.7, -76.22, 83),
 (34.64, -120.46, 71),
 (31.5, 34.47, 87),
 (45.52, -122.68, 75),
 (50.7, -127.42, 95),
 (37.32, -8.8, 84),
 (35.94, -77.79, 93),
 (36.52, -86.87, 76),
 (-40.81, -63.0, 77),
 (44.17, 66.75, 66),
 (35.73, 140.83, 31),
 (44.85, 34.97, 83),
 (-35.33, -72.42, 65),
 (60.9, 131.96, 92),
 (65.37, 58.04, 96),
 (4.92, 6.26, 92),
 (-6.88, 112.21, 70),
 (56.85, 105.25, 92),
 (-7.3, 27.42, 98),
 (70.86, 29.09, 76),
 (33.08, -16.33, 82),
 (69.3, 139.9, 95),
 (48.97, -57.95, 92),
 (-12.07, 134.27, 73),
 (-2.65, 10.0, 87),
 (54.22, 55.03, 86),
 (20.5, -10.07, 14),
 (49.52, 39.57, 92),
 (66.15, -65.71, 99),
 (48.6, -93.4, 73),
 (18.22, 42.51, 51),
 (5.5, 120.88, 69),
 (-2.57, 150.8, 76),
 (63.18, 14.64, 69),
 (66.0, 111.5, 92),
 (58.96, 126.29, 89),
 (13.31, 123.34, 73),
 (39.76, -105.22, 92),
 (1.0, -52.0, 94),
 (60.05, 69.9, 74),
 (51.07, -1.8, 86),
 (-21.3, 47.63, 99),
 (16.78, 94.73, 53),
 (17.6, 74.2, 35),
 (39.37, -0.42, 93),
 (20.51, -86.95, 88),
 (-34.68, 150.87, 65),
 (16.64, 1.64, 20),
 (50.1, 1.83, 70),
 (-10.17, 123.58, 79),
 (12.22, 125.48, 72),
 (43.21, -75.46, 67),
 (61.47, 128.92, 94),
 (67.8, 130.41, 94),
 (37.46, -122.43, 81),
 (59.36, 5.22, 81),
 (4.93, -52.33, 78),
 (35.53, -108.74, 45),
 (57.84, 108.35, 93),
 (-29.95, -71.34, 87),
 (59.64, -151.55, 60),
 (-20.21, 57.76, 83),
 (68.1, 16.37, 92),
 (37.2, -94.35, 100),
 (34.67, 138.95, 40),
 (50.15, -95.88, 96),
 (32.65, -17.07, 77),
 (68.22, -135.01, 75),
 (51.5, 156.52, 77),
 (26.0, 63.04, 16),
 (54.63, -8.45, 89),
 (13.06, 5.24, 21),
 (-3.67, 152.43, 75),
 (49.36, 1.01, 86),
 (17.16, -89.07, 83),
 (50.53, 42.67, 82),
 (-19.98, 57.61, 83),
 (21.32, -158.01, 83),
 (-38.18, 144.47, 100),
 (1.57, 30.25, 69),
 (34.77, 32.42, 70),
 (64.48, 76.69, 87),
 (19.92, 74.73, 28),
 (28.68, -17.76, 68),
 (-34.67, -54.92, 100),
 (39.77, 2.72, 71),
 (15.06, 43.29, 73),
 (-0.72, 8.78, 80),
 (56.11, 69.49, 89),
 (-2.02, 147.27, 80),
 (-29.15, -59.65, 63),
 (11.11, 7.72, 22),
 (63.05, 179.32, 88),
 (30.48, -115.95, 86),
 (-28.0, 153.43, 59),
 (19.01, 72.85, 45),
 (61.22, -149.9, 79),
 (28.41, -80.6, 93),
 (42.87, -77.29, 68),
 (46.49, 135.88, 87),
 (-3.94, 122.5, 94),
 (34.74, 60.78, 66),
 (22.2, 113.55, 47),
 (-37.8, -73.4, 77),
 (-19.93, -60.77, 55),
 (-0.32, 102.35, 64),
 (1.65, 14.58, 85),
 (55.62, -3.52, 86),
 (61.28, 108.01, 91),
 (60.92, -46.05, 51),
 (37.81, -0.84, 93),
 (28.13, 75.4, 24),
 (-10.45, 161.92, 81),
 (29.97, 40.21, 87),
 (-5.04, 18.82, 96),
 (25.05, 61.74, 48),
 (-0.61, -47.36, 81),
 (3.47, 31.25, 49),
 (13.07, -59.53, 78),
 (42.92, 143.2, 92),
 (23.46, 116.77, 57),
 (-27.8, -64.26, 57),
 (32.87, 59.22, 43),
 (14.92, -23.51, 49),
 (53.51, 142.97, 88),
 (-9.43, 159.95, 52),
 (-28.77, 114.6, 26),
 (-3.45, 30.32, 91),
 (41.67, 41.69, 57),
 (-20.78, 117.13, 29),
 (-31.95, 141.43, 25)]

In [4]:
# Generate the map
# All code here is based on https://jupyter-gmaps.readthedocs.io/en/v0.3.4/gmaps.html
m = gmaps.Map()
# marker_locations = lat_lngs
# markers = gmaps.symbol_layer(marker_locations)
# m.add_layer(markers)
m.add_layer(gmaps.WeightedHeatmap(locations=lat_lngs, weights=humid_))

m

Map(configuration={'api_key': 'AIzaSyAUk8DDaxa6zVUDtu6TjvXJ_cR5-RVyOYI'}, data_bounds=[(-45.32733210896373, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Convert Kelvin to Fahrenheit
# T(°F) = T(K) × 9/5 - 459.67
temps = vacay_df['Max Temp'].tolist()
fahrenheits = []

for temp in temps:
    fahrenheit = temp * (9/5) - 459.67
    fahrenheits.append(fahrenheit)

vacay_df["Fahrenheit"] = fahrenheits
vacay_df

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed,Fahrenheit
0,0,Mataura,NZ,99,81,-46.19,168.86,291.48,3.58,64.994
1,1,Saldanha,ZA,0,77,-33.01,17.94,289.15,3.10,60.800
2,2,Busselton,AU,100,21,-33.65,115.33,300.93,5.04,82.004
3,3,Cidreira,BR,77,89,-30.18,-50.21,298.26,8.93,77.198
4,4,Grindavik,IS,75,74,63.84,-22.43,274.15,6.70,33.800
...,...,...,...,...,...,...,...,...,...,...
556,556,Geraldton,AU,100,26,-28.77,114.60,309.15,8.70,96.800
557,557,Ruyigi Province,BI,13,91,-3.45,30.32,289.45,0.59,61.340
558,558,Makhinjauri,GE,0,57,41.67,41.69,275.15,6.20,35.600
559,559,Roebourne,AU,0,29,-20.78,117.13,310.58,1.76,99.374
560,560,Broken Hill,AU,2,25,-31.95,141.43,302.15,10.30,84.200

In [6]:
# What is the ideal vacation destination?

# We like it warm! At least 65, but no hotter than 85.
vacay_df = vacay_df[(vacay_df["Fahrenheit"] >= 65) & (vacay_df["Fahrenheit"] <= 85)]

# Not too muggy, but not too dry. https://humiditycheck.com/comfortable-humidity-level-outside: recommend 30-50
vacay_df = vacay_df[(vacay_df["Humidity"] >= 30) & (vacay_df["Humidity"] <= 50)]

# A pleasant breeze is nice, but a gale is not. Wind <= 12 MPH (Beaufort 3, gentle breeze)
# openweathermap default is m/sec. Conversion: 1 m/sec = 3.6 KPH, 12 MPH = 19.3 KPH
# Therefore, 12 MPH = 5.36 m/sec
vacay_df = vacay_df[(vacay_df["Wind Speed"] <= 6)]

vacay_df

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed,Fahrenheit
17,17,Hobart,AU,75,42,-42.88,147.33,294.26,5.70,69.998
27,27,New Norfolk,AU,75,42,-42.78,147.06,293.71,5.70,69.008
43,43,Nouadhibou,MR,73,49,20.93,-17.03,295.15,2.60,71.600
120,120,Cabo San Lucas,MX,40,37,22.89,-109.91,295.37,1.00,71.996
128,128,Huejucar,MX,100,35,22.35,-103.22,292.96,2.83,67.658
150,150,Mani,CO,7,42,4.82,-72.29,300.98,1.31,82.094
242,242,Ratnagiri,IN,60,34,16.98,73.30,298.83,1.78,78.224
275,275,Santiago,CL,0,43,-33.46,-70.65,295.15,4.10,71.600
276,276,Bakau,GM,33,38,13.48,-16.68,297.15,2.60,75.200
296,296,Diffa,NE,67,31,13.32,12.61,291.62,4.18,65.246
358,358,Esperance,AU,25,37,-33.87,121.90,295.15,4.60,71.600
395,395,Wau,SS,23,30,7.70,28.00,295.39,1.41,72.032
417,417,Lashio,MM,0,33,22.93,97.75,297.15,0.64,75.200
473,473,Rahimatpur,IN,18,35,17.60,74.20,295.25,1.89,71.780
525,525,Mumbai,IN,0,45,19.01,72.85,302.15,2.15,84.200
545,545,Jiwani,PK,100,48,25.05,61.74,296.33,2.29,73.724
547,547,Yumbe,UG,1,49,3.47,31.25,297.37,0.78,75.596

In [7]:
vacay_df.dropna(axis=0, how='any')

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed,Fahrenheit
17,17,Hobart,AU,75,42,-42.88,147.33,294.26,5.70,69.998
27,27,New Norfolk,AU,75,42,-42.78,147.06,293.71,5.70,69.008
43,43,Nouadhibou,MR,73,49,20.93,-17.03,295.15,2.60,71.600
120,120,Cabo San Lucas,MX,40,37,22.89,-109.91,295.37,1.00,71.996
128,128,Huejucar,MX,100,35,22.35,-103.22,292.96,2.83,67.658
150,150,Mani,CO,7,42,4.82,-72.29,300.98,1.31,82.094
242,242,Ratnagiri,IN,60,34,16.98,73.30,298.83,1.78,78.224
275,275,Santiago,CL,0,43,-33.46,-70.65,295.15,4.10,71.600
276,276,Bakau,GM,33,38,13.48,-16.68,297.15,2.60,75.200
296,296,Diffa,NE,67,31,13.32,12.61,291.62,4.18,65.246
358,358,Esperance,AU,25,37,-33.87,121.90,295.15,4.60,71.600
395,395,Wau,SS,23,30,7.70,28.00,295.39,1.41,72.032
417,417,Lashio,MM,0,33,22.93,97.75,297.15,0.64,75.200
473,473,Rahimatpur,IN,18,35,17.60,74.20,295.25,1.89,71.780
525,525,Mumbai,IN,0,45,19.01,72.85,302.15,2.15,84.200
545,545,Jiwani,PK,100,48,25.05,61.74,296.33,2.29,73.724
547,547,Yumbe,UG,1,49,3.47,31.25,297.37,0.78,75.596

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
vacay_df["Hotel Name"] = ""

In [18]:
#Create hotel variable
hotel_df = vacay_df

# Borrowed from class activity
# geocoordinates
for index, row in hotel_df.iterrows():
    target_coordinates = f"{row['Lat']}, {row['Lng']}"
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    hotel_name = response['results'][0]['name']
    hotel_df.loc[index, "Hotel Name"] = hotel_name
print(response['results'][0]['name'])

Praford Hotel

In [19]:
hotel_df

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed,Fahrenheit,Hotel Name
17,17,Hobart,AU,75,42,-42.88,147.33,294.26,5.70,69.998,St Ives Apartments
27,27,New Norfolk,AU,75,42,-42.78,147.06,293.71,5.70,69.008,The Shingles Riverside Cottages
43,43,Nouadhibou,MR,73,49,20.93,-17.03,295.15,2.60,71.600,El Medina
120,120,Cabo San Lucas,MX,40,37,22.89,-109.91,295.37,1.00,71.996,Hotel Tesoro Los Cabos
128,128,Huejucar,MX,100,35,22.35,-103.22,292.96,2.83,67.658,Hotel Villarreal
150,150,Mani,CO,7,42,4.82,-72.29,300.98,1.31,82.094,Hotel Belgrado
242,242,Ratnagiri,IN,60,34,16.98,73.30,298.83,1.78,78.224,Hotel Landmark
275,275,Santiago,CL,0,43,-33.46,-70.65,295.15,4.10,71.600,Hotel Panamericano
276,276,Bakau,GM,33,38,13.48,-16.68,297.15,2.60,75.200,Badala Park Hotel
296,296,Diffa,NE,67,31,13.32,12.61,291.62,4.18,65.246,ProDAF/Diffa
358,358,Esperance,AU,25,37,-33.87,121.90,295.15,4.60,71.600,Hospitality Esperance
395,395,Wau,SS,23,30,7.70,28.00,295.39,1.41,72.032,Universal Gab Hotel
417,417,Lashio,MM,0,33,22.93,97.75,297.15,0.64,75.200,Hotel CF Lashio - Burmese Only
473,473,Rahimatpur,IN,18,35,17.60,74.20,295.25,1.89,71.780,Swami Prasad Ice-cream parlor
525,525,Mumbai,IN,0,45,19.01,72.85,302.15,2.15,84.200,Four Seasons Hotel Mumbai
545,545,Jiwani,PK,100,48,25.05,61.74,296.33,2.29,73.724,Al Mumtaz Transport Jiwani
547,547,Yumbe,UG,1,49,3.47,31.25,297.37,0.78,75.596,Praford Hotel

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# Add marker layer ontop of heat map
marker_locations = locations
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
m.add_layer(markers)

# Display Map
m

Map(configuration={'api_key': 'AIzaSyAUk8DDaxa6zVUDtu6TjvXJ_cR5-RVyOYI'}, data_bounds=[(-45.32733210896373, -1…