In [1]:
import pandas as pd
import numpy
import csv

In [2]:
March_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201903-citibike-tripdata.csv"
April_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201904-citibike-tripdata.csv"
May_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201905-citibike-tripdata.csv"
June_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201906-citibike-tripdata.csv"
July_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201907-citibike-tripdata.csv"
Aug_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201908-citibike-tripdata.csv"
Sept_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201909-citibike-tripdata.csv"
Oct_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201910-citibike-tripdata.csv"
Nov_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201911-citibike-tripdata.csv"
Dec_19 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-201912-citibike-tripdata.csv"
Jan_20 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-202001-citibike-tripdata.csv"
Feb_20 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-202002-citibike-tripdata.csv"
March_20 = "C:/Users/jason/Dropbox/Freelancer/CitiBike/JC-202003-citibike-tripdata.csv"

In [3]:
March_19_df = pd.read_csv(March_19)
March_19_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1