In [1]:
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
import numpy as np

In [3]:
# Data by habitat

data_anth = {'Arable': [80, 0, 0, 8],
             'Beach': [78, 62],
             'Roadside': [85, 62, 10, 3, 18, 18, 98, 71, 78, 12, 52, 39, 24, 13],
             'Waste_place': [78, 33, 78, 40, 47, 32]
            }

data_caro = {'Arable': [0, 93, 85, 52],
             'Beach': [2, 5],
             'Roadside': [0.4, 16, 55, 64, 32, 32, 6, 4, 3, 48, 10, 15, 25, 54],
             'Waste_place': [2, 15, 3, 22, 13, 6]
            }

data_both = {'Arable': [0, 0, 0, 2],
             'Beach': [1, 1],
             'Roadside': [0.8, 2, 3, 2, 1, 1, 0, 4, 11, 4, 6, 7, 3, 6],
             'Waste_place': [2, 2, 0, 3, 4, 2]
            }

In [4]:
# Data by region

data_anth2 = {'Stockton': [10, 0, 0, 8],
              'SF_Pen_Mont': [80, 62, 85, 33, 78, 78, 78],
              'S_Delta': [71, 78, 24, 13],
              'N_Bay_Marin': [62, 14, 12],
              'E_Bay': [40, 47, 32, 52, 30, 39],
              'Central_Valley': [3, 18, 18, 89]
             }

data_caro2 = {'Stockton': [55, 93, 85, 52],
              'SF_Pen_Mont': [0, 5, 0.4, 15, 3, 2, 2],
              'S_Delta': [4, 3, 25, 54],
              'N_Bay_Marin': [16, 72, 48],
              'E_Bay': [22, 13, 16, 10, 9, 15],
              'Central_Valley': [64, 32, 32, 6]
             }

data_both2 = {'Stockton': [3, 0, 0, 2],
              'SF_Pen_Mont': [0, 1, 0.8, 15, 3, 2, 1],
              'S_Delta': [4, 11, 3, 6],
              'N_Bay_Marin': [2, 3, 4],
              'E_Bay': [3, 4, 2, 6, 4, 7],
              'Central_Valley': [2, 1, 1, 0]
             }

In [5]:
# Data frame for anth by habitat

df = pd.DataFrame({k: pd.Series(v) for k, v in data_anth.items()})
print(df)

    Arable  Beach  Roadside  Waste_place
0     80.0   78.0        85         78.0
1      0.0   62.0        62         33.0
2      0.0    NaN        10         78.0
3      8.0    NaN         3         40.0
4      NaN    NaN        18         47.0
5      NaN    NaN        18         32.0
6      NaN    NaN        98          NaN
7      NaN    NaN        71          NaN
8      NaN    NaN        78          NaN
9      NaN    NaN        12          NaN
10     NaN    NaN        52          NaN
11     NaN    NaN        39          NaN
12     NaN    NaN        24          NaN
13     NaN    NaN        13          NaN

In [6]:
# Dataframe for caro by habitat

df2 = pd.DataFrame({k: pd.Series(v) for k, v in data_caro.items()})
print(df2)

    Arable  Beach  Roadside  Waste_place
0      0.0    2.0       0.4          2.0
1     93.0    5.0      16.0         15.0
2     85.0    NaN      55.0          3.0
3     52.0    NaN      64.0         22.0
4      NaN    NaN      32.0         13.0
5      NaN    NaN      32.0          6.0
6      NaN    NaN       6.0          NaN
7      NaN    NaN       4.0          NaN
8      NaN    NaN       3.0          NaN
9      NaN    NaN      48.0          NaN
10     NaN    NaN      10.0          NaN
11     NaN    NaN      15.0          NaN
12     NaN    NaN      25.0          NaN
13     NaN    NaN      54.0          NaN

In [7]:
# Dataframe for both by habitat

df3 = pd.DataFrame({k: pd.Series(v) for k, v in data_both.items()})
print(df3)

    Arable  Beach  Roadside  Waste_place
0      0.0    1.0       0.8          2.0
1      0.0    1.0       2.0          2.0
2      0.0    NaN       3.0          0.0
3      2.0    NaN       2.0          3.0
4      NaN    NaN       1.0          4.0
5      NaN    NaN       1.0          2.0
6      NaN    NaN       0.0          NaN
7      NaN    NaN       4.0          NaN
8      NaN    NaN      11.0          NaN
9      NaN    NaN       4.0          NaN
10     NaN    NaN       6.0          NaN
11     NaN    NaN       7.0          NaN
12     NaN    NaN       3.0          NaN
13     NaN    NaN       6.0          NaN

In [9]:
# Calculating variances

variances_anth = df.var()
variances_caro = df2.var()
variances_both = df3.var()

In [10]:
print(variances_anth)

Arable         1509.333333
Beach           128.000000
Roadside       1030.093407
Waste_place     455.866667
dtype: float64

In [11]:
print(variances_caro)

Arable         1784.333333
Beach             4.500000
Roadside        474.719121
Waste_place      61.366667
dtype: float64

In [12]:
print(variances_both)

Arable         1.000000
Beach          0.000000
Roadside       9.100659
Waste_place    1.766667
dtype: float64

In [18]:
# These data appear heteroscedastic; ANOVA may not be suitable.
# To test this, we shall run Bartlett's test.

from scipy.stats import bartlett

# Define testing groups for each df

# Groups for Anth
arable_anth = df['Arable']
beach_anth = df['Beach']
road_anth = df['Roadside']
waste_anth = df['Waste_place']

# Groups for Caro
arable_caro = df2['Arable']
beach_caro = df2['Beach']
road_caro = df2['Roadside']
waste_caro = df2['Waste_place']

# Groups for Both
arable_both = df3['Arable']
beach_both = df3['Beach']
road_both = df3['Roadside']
waste_both = df3['Waste_place']

# Bartlett's test for each df

stat1, p_value1 = bartlett(arable_anth, beach_anth, road_anth, waste_anth)
print(f"Bartlett's test statistic (Anth): {stat1}")
print(f"P-value: {p_value1}")

stat2, p_value2 = bartlett(arable_caro, beach_caro, road_caro, waste_caro)
print(f"Bartlett's test statistic (Caro): {stat2}")
print(f"P-value: {p_value2}")

stat3, p_value3 = bartlett(arable_both, beach_both, road_both, waste_both)
print(f"Bartlett's test statistic (Both): {stat3}")
print(f"P-value: {p_value3}")

Bartlett's test statistic (Anth): 17.764990797075136
P-value: 0.0004917649760783902
Bartlett's test statistic (Caro): 77.97240588904965
P-value: 8.353801915944671e-17
Bartlett's test statistic (Both): inf
P-value: 0.0

C:\Users\jason\anaconda3\lib\site-packages\scipy\stats\morestats.py:2467: RuntimeWarning: divide by zero encountered in log
  numer = (Ntot*1.0 - k) * log(spsq) - np.sum((Ni - 1.0)*log(ssq), axis=0)

In [ ]:
# Conclusion: these Variances are heteroscedastic;
# The assumption of equal variances is violated - ANOVA not suitable.

In [8]:
# Now to analyze the regional data

# Dataframe for anth by region
df4 = pd.DataFrame({k: pd.Series(v) for k, v in data_anth2.items()})
print(df4)

   Stockton  SF_Pen_Mont  S_Delta  N_Bay_Marin  E_Bay  Central_Valley
0      10.0           80     71.0         62.0   40.0             3.0
1       0.0           62     78.0         14.0   47.0            18.0
2       0.0           85     24.0         12.0   32.0            18.0
3       8.0           33     13.0          NaN   52.0            89.0
4       NaN           78      NaN          NaN   30.0             NaN
5       NaN           78      NaN          NaN   39.0             NaN
6       NaN           78      NaN          NaN    NaN             NaN

In [9]:
# Dataframe for caro by region

df5 = pd.DataFrame({k: pd.Series(v) for k, v in data_caro2.items()})
print(df5)

   Stockton  SF_Pen_Mont  S_Delta  N_Bay_Marin  E_Bay  Central_Valley
0      55.0          0.0      4.0         16.0   22.0            64.0
1      93.0          5.0      3.0         72.0   13.0            32.0
2      85.0          0.4     25.0         48.0   16.0            32.0
3      52.0         15.0     54.0          NaN   10.0             6.0
4       NaN          3.0      NaN          NaN    9.0             NaN
5       NaN          2.0      NaN          NaN   15.0             NaN
6       NaN          2.0      NaN          NaN    NaN             NaN

In [10]:
# Dataframe for both by region

df6 = pd.DataFrame({k: pd.Series(v) for k, v in data_both2.items()})
print(df6)

   Stockton  SF_Pen_Mont  S_Delta  N_Bay_Marin  E_Bay  Central_Valley
0       3.0          0.0      4.0          2.0    3.0             2.0
1       0.0          1.0     11.0          3.0    4.0             1.0
2       0.0          0.8      3.0          4.0    2.0             1.0
3       2.0         15.0      6.0          NaN    6.0             0.0
4       NaN          3.0      NaN          NaN    4.0             NaN
5       NaN          2.0      NaN          NaN    7.0             NaN
6       NaN          1.0      NaN          NaN    NaN             NaN

In [30]:
# Calculating variances

variances_anth2 = df4.var()
variances_caro2 = df5.var()
variances_both2 = df6.var()

In [31]:
print(variances_anth2)

Stockton            27.666667
SF_Pen_Mont        324.619048
S_Delta           1073.666667
N_Bay_Marin        801.333333
E_Bay               71.600000
Central_Valley    1494.000000
dtype: float64

In [32]:
print(variances_caro2)

Stockton          432.250000
SF_Pen_Mont        26.651429
S_Delta           572.333333
N_Bay_Marin       789.333333
E_Bay              22.166667
Central_Valley    563.666667
dtype: float64

In [33]:
print(variances_both2)

Stockton           2.250000
SF_Pen_Mont       27.729524
S_Delta           12.666667
N_Bay_Marin        1.000000
E_Bay              3.466667
Central_Valley     0.666667
dtype: float64

In [34]:
# Define testing groups for each df

# Groups for Anth
Stockton_anth = df4['Stockton']
SF_Pen_Mont_anth = df4['SF_Pen_Mont']
S_Delta_anth = df4['S_Delta']
N_Bay_Marin_anth = df4['N_Bay_Marin']
E_Bay_anth = df4['E_Bay']

# Groups for Caro
Stockton_caro = df5['Stockton']
SF_Pen_Mont_caro = df5['SF_Pen_Mont']
S_Delta_caro = df5['S_Delta']
N_Bay_Marin_caro = df5['N_Bay_Marin']
E_Bay_caro = df5['E_Bay']

# Groups for Both
Stockton_both = df6['Stockton']
SF_Pen_Mont_both = df6['SF_Pen_Mont']
S_Delta_both = df6['S_Delta']
N_Bay_Marin_both = df6['N_Bay_Marin']
E_Bay_both = df6['E_Bay']

# Bartlett's test for each df

stat4, p_value4 = bartlett(Stockton_anth, SF_Pen_Mont_anth, S_Delta_anth, N_Bay_Marin_anth, E_Bay_anth)
print(f"Bartlett's test statistic (Anth): {stat4}")
print(f"P-value: {p_value4}")

stat5, p_value5 = bartlett(Stockton_caro, SF_Pen_Mont_caro, S_Delta_caro, N_Bay_Marin_caro, E_Bay_caro)
print(f"Bartlett's test statistic (Caro): {stat5}")
print(f"P-value: {p_value5}")

stat6, p_value6 = bartlett(Stockton_both, SF_Pen_Mont_both, S_Delta_both, N_Bay_Marin_both, E_Bay_both)
print(f"Bartlett's test statistic (Both): {stat6}")
print(f"P-value: {p_value6}")

Bartlett's test statistic (Anth): 20.33224822018249
P-value: 0.000429349387138109
Bartlett's test statistic (Caro): 22.93027748270651
P-value: 0.00013075268838533732
Bartlett's test statistic (Both): 18.562189736289035
P-value: 0.0009578799422342402

In [11]:
# Conclusion: these variances are also heteroscedastic.

# Will conduct Welch's ANOVA
import pingouin as pg

In [14]:
# Create new dataframe to group by color and habitat

df_hab = pd.DataFrame({'Habitat': ['Arable', 'Arable', 'Arable', 'Arable', 'Beach', 'Beach', 'Roadside', 'Roadside',
                                 'Roadside', 'Roadside', 'Roadside', 'Roadside', 'Roadside', 'Roadside', 'Roadside',
                                 'Roadside', 'Roadside', 'Roadside', 'Roadside', 'Roadside','Waste_place', 'Waste_place',
                                 'Waste_place', 'Waste_place', 'Waste_place', 'Waste_place'],
                      'Anth': [80, 0, 0, 8, 78, 62, 85, 62, 10, 3, 18, 18, 98, 71, 78, 12, 52, 
                             39, 24, 13, 78, 33, 78, 40, 47, 32],
                      'Caro': [0, 93, 85, 52, 2, 5, 0.4, 16, 55, 64, 32, 32, 6, 4, 3, 48, 10, 15, 25, 54, 
                             2, 15, 3, 22, 13, 6],
                      'Both': [0, 0, 0, 2, 1, 1, 0.8, 2, 3, 2, 1, 1, 0, 4, 11, 4, 6, 7, 3, 6, 2, 2, 0, 3, 4, 2]})

print(df_hab)

        Habitat  Anth  Caro  Both
0        Arable    80   0.0   0.0
1        Arable     0  93.0   0.0
2        Arable     0  85.0   0.0
3        Arable     8  52.0   2.0
4         Beach    78   2.0   1.0
5         Beach    62   5.0   1.0
6      Roadside    85   0.4   0.8
7      Roadside    62  16.0   2.0
8      Roadside    10  55.0   3.0
9      Roadside     3  64.0   2.0
10     Roadside    18  32.0   1.0
11     Roadside    18  32.0   1.0
12     Roadside    98   6.0   0.0
13     Roadside    71   4.0   4.0
14     Roadside    78   3.0  11.0
15     Roadside    12  48.0   4.0
16     Roadside    52  10.0   6.0
17     Roadside    39  15.0   7.0
18     Roadside    24  25.0   3.0
19     Roadside    13  54.0   6.0
20  Waste_place    78   2.0   2.0
21  Waste_place    33  15.0   2.0
22  Waste_place    78   3.0   0.0
23  Waste_place    40  22.0   3.0
24  Waste_place    47  13.0   4.0
25  Waste_place    32   6.0   2.0

In [15]:
# Now, create dataframe to group by region and color

df_reg = pd.DataFrame({'Region': ['Stockton', 'Stockton', 'Stockton', 'Stockton', 'SF_Pen_Mont', 'SF_Pen_Mont', 
                                  'SF_Pen_Mont', 'SF_Pen_Mont', 'SF_Pen_Mont', 'SF_Pen_Mont', 'SF_Pen_Mont', 
                                  'S_Delta', 'S_Delta', 'S_Delta', 'S_Delta', 'N_Bay_Marin', 'N_Bay_Marin', 
                                  'N_Bay_Marin', 'E_Bay', 'E_Bay','E_Bay', 'E_Bay', 'E_Bay', 'E_Bay', 'Central_Valley', 
                                  'Central_Valley', 'Central_Valley', 'Central_Valley'],
                      'Anth': [10, 0, 0, 8, 80, 62, 85, 33, 78, 78, 78, 71, 78, 24, 13, 62, 14, 12, 40, 47, 32, 52, 30, 
                               39, 3, 18, 18, 89],
                      'Caro': [55, 93, 85, 52, 0, 5, 0.4, 15, 3, 2, 2, 4, 3, 25, 54, 16, 72, 48, 22, 13, 16, 10, 9, 15, 
                               64, 32, 32, 6],
                      'Both': [3, 0, 0, 2, 0, 1, 0.8, 15, 3, 2, 1, 4, 11, 3, 6, 2, 3, 4, 3, 4, 2, 6, 4, 7, 2, 1, 1, 0]})
print(df_reg)

            Region  Anth  Caro  Both
0         Stockton    10  55.0   3.0
1         Stockton     0  93.0   0.0
2         Stockton     0  85.0   0.0
3         Stockton     8  52.0   2.0
4      SF_Pen_Mont    80   0.0   0.0
5      SF_Pen_Mont    62   5.0   1.0
6      SF_Pen_Mont    85   0.4   0.8
7      SF_Pen_Mont    33  15.0  15.0
8      SF_Pen_Mont    78   3.0   3.0
9      SF_Pen_Mont    78   2.0   2.0
10     SF_Pen_Mont    78   2.0   1.0
11         S_Delta    71   4.0   4.0
12         S_Delta    78   3.0  11.0
13         S_Delta    24  25.0   3.0
14         S_Delta    13  54.0   6.0
15     N_Bay_Marin    62  16.0   2.0
16     N_Bay_Marin    14  72.0   3.0
17     N_Bay_Marin    12  48.0   4.0
18           E_Bay    40  22.0   3.0
19           E_Bay    47  13.0   4.0
20           E_Bay    32  16.0   2.0
21           E_Bay    52  10.0   6.0
22           E_Bay    30   9.0   4.0
23           E_Bay    39  15.0   7.0
24  Central_Valley     3  64.0   2.0
25  Central_Valley    18  32.0   1.0
26  Central_Valley    18  32.0   1.0
27  Central_Valley    89   6.0   0.0

In [17]:
# The command for Welch's ANOVA is pg.welch_anova(dv='score', between='group', data=df)
# Change 'score', 'group', and df as applicable.
# The Games-Howell post-hoc test can determine which groups are different: 
# pg.pairwise_gameshowell(dv='score', between='group', data=df)

AttributeError: 'DataFrame' object has no attribute 'dtype'